<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <link rel="stylesheet" href="css/mystyle.css" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />

        <title>Hello EJS</title>
    </head>
    <body>
        <header>
            <%=include('./partials/navbar')%>
        </header>
        <main>
            <div class="details">
                <h1><%= tour+5 %></h1>
                <h1><%- tour+5 %></h1>
                <h1><%= name %></h1>
                <h1><%= college %></h1>
            </div>
        </main>
    </body>
</html>
