<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/style.css" />
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

        <title>Natours | <%= tour.name %></title>

        <script src="https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js"></script>
        <link
            href="https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <%- include("./partials/header") %>

        <section class="section-header">
            <div class="header-hero">
                <div class="header__hero-overlay">&nbsp</div>
                <img
                    src="/img/tours/<%= tour.imageCover %>"
                    alt="<%= tour.name %>"
                    class="header__hero-img"
                />
            </div>
            <div class="heading-box">
                <h1 class="heading-primary">
                    <span><%= tour.name %></span>
                </h1>
                <div class="heading-box__group">
                    <div class="heading-box__detail">
                        <svg class="heading-box__icon">
                            <use xlink:href="/img/icons.svg#icon-clock"></use>
                        </svg>
                        <span class="heading-box__text"
                            ><%= tour.duration %> days</span
                        >
                    </div>
                    <div class="heading-box__detail">
                        <svg class="heading-box__icon">
                            <use xlink:href="/img/icons.svg#icon-map-pin"></use>
                        </svg>
                        <span class="heading-box__text"
                            ><%= tour.startLocation.description %></span
                        >
                    </div>
                </div>
            </div>
        </section>

        <section class="section-description">
            <div class="overview-box">
                <div>
                    <div class="overview-box__group">
                        <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
                        <div class="overview-box__detail">
                            <svg class="overview-box__icon">
                                <use
                                    xlink:href="/img/icons.svg#icon-calendar"
                                ></use>
                            </svg>
                            <span class="overview-box__label">Next date</span>
                            <span class="overview-box__text"
                                ><%=
                                tour.startDates[0].toLocaleString("en-US",{year:"numeric",month:"long"})
                                %></span
                            >
                        </div>
                        <div class="overview-box__detail">
                            <svg class="overview-box__icon">
                                <use
                                    xlink:href="/img/icons.svg#icon-trending-up"
                                ></use>
                            </svg>
                            <span class="overview-box__label">Difficulty</span>
                            <span class="overview-box__text"
                                ><%= tour.difficulty %></span
                            >
                        </div>
                        <div class="overview-box__detail">
                            <svg class="overview-box__icon">
                                <use
                                    xlink:href="/img/icons.svg#icon-user"
                                ></use>
                            </svg>
                            <span class="overview-box__label"
                                >Participants</span
                            >
                            <span class="overview-box__text"
                                ><%= tour.maxGroupSize %> people</span
                            >
                        </div>
                        <div class="overview-box__detail">
                            <svg class="overview-box__icon">
                                <use
                                    xlink:href="/img/icons.svg#icon-star"
                                ></use>
                            </svg>
                            <span class="overview-box__label">Rating</span>
                            <span class="overview-box__text"
                                ><%= tour.ratingsAverage %> / 5</span
                            >
                        </div>
                    </div>

                    <div class="overview-box__group">
                        <h2 class="heading-secondary ma-bt-lg">
                            Your tour guides
                        </h2>

                        <% tour.guides.forEach(guide => { %>

                        <div class="overview-box__detail">
                            <img
                                src="/img/users/<%= guide.photo %>"
                                alt="Tour guide"
                                class="overview-box__img"
                            />
                            <% if(guide.role==="lead-guide"){ %>
                            <span class="overview-box__label">Lead guide</span>
                            <% }else{ %>
                            <span class="overview-box__label">Tour guide</span>
                            <% } %>
                            <span class="overview-box__text"
                                ><%= guide.name %></span
                            >
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>

            <div class="description-box">
                <h2 class="heading-secondary ma-bt-lg">
                    About <%= tour.name %> tour
                </h2>
                <p class="description__text"><%= tour.description %></p>
            </div>
        </section>

        <section class="section-pictures">
            <div class="picture-box">
                <img
                    class="picture-box__img picture-box__img--1"
                    src="/img/tours/<%= tour.images[0] %>"
                    alt="The Park Camper Tour 1"
                />
            </div>
            <div class="picture-box">
                <img
                    class="picture-box__img picture-box__img--2"
                    src="/img/tours/<%= tour.images[1] %>"
                    alt="The Park Camper Tour 1"
                />
            </div>
            <div class="picture-box">
                <img
                    class="picture-box__img picture-box__img--3"
                    src="/img/tours/<%= tour.images[2] %>"
                    alt="The Park Camper Tour 1"
                />
            </div>
        </section>

        <section class="section-reviews">
            <div class="reviews">
                <% const reviews = tour.reviews %>
                <!-- for loop -->
                <% reviews.forEach( review =>{ %>
                <!-- including reviews  -->
                <%- include("./partials/reviews", {review}) %>
                <!-- reviews end  -->
                <% }) %>
            </div>
        </section>

        <section class="section-cta">
            <div class="cta">
                <div class="cta__img cta__img--logo">
                    <img
                        src="/img/logo-white.png"
                        alt="Natours logo"
                        class=""
                    />
                </div>
                <img
                    src="/img/tour-5-2.jpg"
                    alt=""
                    class="cta__img cta__img--1"
                />
                <img
                    src="/img/tour-5-1.jpg"
                    alt=""
                    class="cta__img cta__img--2"
                />

                <div class="cta__content">
                    <h2 class="heading-secondary">What are you waiting for?</h2>
                    <p class="cta__text">
                        10 days. 1 adventure. Infinite memories. Make it yours
                        today!
                    </p>
                    <button class="btn btn--green span-all-rows">
                        Book tour now!
                    </button>
                </div>
            </div>
        </section>

        <%- include("./partials/footer") %>
    </body>
</html>
